<div class="content">
    <div class="side-space">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none"
            style="width: 100%; height: 100%;">
            <polygon points="0,0 0,100 100,50" fill="#ffb633" />
        </svg>
    </div>
    <div class="text area" data-aos="fade-right">
        <div class="text">
            <h1>Skills</h1>
            <div class="article">
                <app-skill-carousel (changeActiveSkills)="setHighlightedSkills($event)"></app-skill-carousel>
            </div>
        </div>
    </div>
    <div class="icons area">
        <ng-container *ngFor="let skill of skills, index as i">
            <div class="skill" data-aos="zoom-in" [class.highlight]="skill.highlight">
                <img class="icon" src="./assets/icons/{{ skill.fileName }}" alt="">
                <div class="name">{{ skill.name }}</div>
            </div>
        </ng-container>
    </div>
    <div class="side-space right"></div>
</div>