.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

    .policy-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        a { 
            min-width: 102px;
            
            &:hover {
                font-weight: 500;
            }
        }

    }
}