<div [class.show]="this.showThis" class="top-bar">
    <div routerLink="/title" (click)="viewService.jumpToSection('title', 0)" [class.showLogo]="showLogo"
        class="name-logo">
        <span>Y</span><span>ou</span><span>ssef</span>
        <span>&nbsp;Chraief</span>
    </div>
    <div class="middle-area">
        <app-nav-links *ngIf="showTopNavLinks"></app-nav-links>
        <div *ngIf="!showTopNavLinks" class="overlay-toggle" (click)="viewService.toggleOverlayMenu()">
            <span *ngIf="showOverlayToggleText">Menu</span>
            <i class="pi pi-chevron-circle-down" style="font-size: 2rem"></i>
        </div>
    </div>
    <div class="public-media-links">
        <app-public-media-links></app-public-media-links>
    </div>
</div>