<div class="content" data-aos="fade-right" data-aos-once="true">
    <div class="text">
        <h1>Contact me</h1>
        <article>
          If you are interested in getting to know me, a highly motivated and open minded software engineer for your team, feel free to contact me.<br>
          I am looking forward to reading your message and will respond in short notice, regardless of whether you are using the contact form or prefer another way:
        </article>
        <div class="media-links">
            <app-public-media-links [showGithub]="showGithubLink"></app-public-media-links>
        </div>
    </div>


    <form #contactForm="ngForm" action="" [formGroup]="form" data-aos="zoom-in" data-aos-once="true"
        (ngSubmit)="send()">
        <span class=" p-float-label">
            <input formControlName="from_name" pInputText id="name">
            <label htmlFor="name">name</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="from_email" pInputText id="mail">
            <label htmlFor="email">email</label>
        </span>
        <span class=" p-float-label">
            <input formControlName="from_company" pInputText id="company">
            <label htmlFor="company">company (optional)</label>
        </span>
        
        <span class=" p-float-label">
            <textarea formControlName="message" pInputTextarea id="message"></textarea>
            <label htmlFor="message">message</label>
        </span>

        <p-button [disabled]="!contactForm.valid" class="button" type="ngSubmit" label="Send Message" styleClass="p-button-raised p-button-text p-button-warning w-full"></p-button>
        <!-- <div *ngIf="mailSent" class="mail-sent-overlay">
            <div class="overlay-content">
                <h3>Thank you very much!</h3>
                <div>Your message has been sent.</div>
                <div>I will respond as soon as possible.</div>
            </div>

        </div> -->
    </form>

</div>