.content {
    display: flex;
    gap: 56px;
    height: 100%;
    position: relative;

    .head-and-projects {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .head-area {
            width: 100%;
            // max-width: 960px;
            margin-top: 24px;

            span {
                display: block;
                margin-bottom: 24px;
            }
        }

        .project-area {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 64px;
            margin-top: 80px;
        }
    }

    .side-space {
        position: relative;
        height: 80pc;
        max-width: 300px;
    }

    .side-space.left {
        position: sticky;
        svg {
            padding: 40px 56px 0px 0px;
        }
    }

    .side-space.right {
        max-width: 120px;
    }
}


@media only screen and (max-width: 1120px) {
    .content {
        margin: 0px 20px;

        .head-area {
            width: 100%;
            max-width: unset;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 24px 20px 0px 0px
        }

        .side-space {
            display: none;
        }
    }
}