<nav>
        <span [class.active]="active == 'aboutMe'" class="nav-link" routerLink="/aboutme" (click)="viewService.jumpToSection('aboutMe', 1)">About me</span>
        <span [class.active]="active == 'skills'" class="nav-link" routerLink="/skills" (click)="viewService.jumpToSection('skills', 2)">Skills</span>
        <span [class.active]="active == 'projects'" class="nav-link" routerLink="/projects" (click)="viewService.jumpToSection('projects', 3)">Projects</span>
        <span [class.active]="active == 'contact'" class="nav-link" routerLink="/contact" (click)="viewService.jumpToSection('contact', 4)">Contact</span>
 </nav>